* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(50% - 1072px / 2);
  padding-right: calc(50% - 1072px / 2);
}
.menu {
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.menu_list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #1C202B;
  text-decoration: none;
  margin-top: 29px;
  margin-bottom: 32px;
}
.menu_list_01 {
  margin-left: 184px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #22222;
}
.button {
  width: 171pxx;
  height: 51px;
  /* left: 0%;
  right: 0%;
  top: 0px; */
  background: #0A61F7;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}